@font-face {
    font-family: 'Sohne';
    src: url('/fonts/Test-Söhne/sohne-400-normal.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Sohne';
    src: url('/fonts/Test-Söhne/sohne-500-normal.woff') format('woff');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'Sohne';
    src: url('/fonts/Test-Söhne/sohne-700-normal.woff') format('woff');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Gt-super';
    src: url('/fonts/GT-Super/gt-super-400-normal.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Source-serif';
    src: url('/fonts/Source-serif/source-serif-pro-400-normal.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}